# Exercícios com loc e iloc

In [4]:
import pandas as pd

data = pd.read_csv('datasets\GasPricesinBrazil_2004-2019.csv', sep=';')

data.head(10)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,...,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004
7,7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,...,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,5,2004
8,8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,...,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077,5,2004
9,9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,...,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096,5,2004

## iloc (localização por índice)

In [12]:
print(list(data.iloc[5]))

[5, '2004-05-09', '2004-05-15', 'NORDESTE', 'BAHIA', 'ETANOL HIDRATADO', 408, 'R$/l', 1.383, 0.132, 0.999, 2.05, '0.426', 0.095, '0.957', '0.128', '0.5686', '1.35', '0.134', 5, 2004]

In [35]:
print(data.iloc[5].to_list())

[5, '2004-05-09', '2004-05-15', 'NORDESTE', 'BAHIA', 'ETANOL HIDRATADO', 408, 'R$/l', 1.383, 0.132, 0.999, 2.05, '0.426', 0.095, '0.957', '0.128', '0.5686', '1.35', '0.134', 5, 2004]

In [37]:
print(dict(data.iloc[5]))

{'Unnamed: 0': 5, 'DATA INICIAL': '2004-05-09', 'DATA FINAL': '2004-05-15', 'REGIÃO': 'NORDESTE', 'ESTADO': 'BAHIA', 'PRODUTO': 'ETANOL HIDRATADO', 'NÚMERO DE POSTOS PESQUISADOS': 408, 'UNIDADE DE MEDIDA': 'R$/l', 'PREÇO MÉDIO REVENDA': 1.383, 'DESVIO PADRÃO REVENDA': 0.132, 'PREÇO MÍNIMO REVENDA': 0.999, 'PREÇO MÁXIMO REVENDA': 2.05, 'MARGEM MÉDIA REVENDA': '0.426', 'COEF DE VARIAÇÃO REVENDA': 0.095, 'PREÇO MÉDIO DISTRIBUIÇÃO': '0.957', 'DESVIO PADRÃO DISTRIBUIÇÃO': '0.128', 'PREÇO MÍNIMO DISTRIBUIÇÃO': '0.5686', 'PREÇO MÁXIMO DISTRIBUIÇÃO': '1.35', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO': '0.134', 'MÊS': 5, 'ANO': 2004}

In [36]:
print(data.iloc[5].to_dict())

{'Unnamed: 0': 5, 'DATA INICIAL': '2004-05-09', 'DATA FINAL': '2004-05-15', 'REGIÃO': 'NORDESTE', 'ESTADO': 'BAHIA', 'PRODUTO': 'ETANOL HIDRATADO', 'NÚMERO DE POSTOS PESQUISADOS': 408, 'UNIDADE DE MEDIDA': 'R$/l', 'PREÇO MÉDIO REVENDA': 1.383, 'DESVIO PADRÃO REVENDA': 0.132, 'PREÇO MÍNIMO REVENDA': 0.999, 'PREÇO MÁXIMO REVENDA': 2.05, 'MARGEM MÉDIA REVENDA': '0.426', 'COEF DE VARIAÇÃO REVENDA': 0.095, 'PREÇO MÉDIO DISTRIBUIÇÃO': '0.957', 'DESVIO PADRÃO DISTRIBUIÇÃO': '0.128', 'PREÇO MÍNIMO DISTRIBUIÇÃO': '0.5686', 'PREÇO MÁXIMO DISTRIBUIÇÃO': '1.35', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO': '0.134', 'MÊS': 5, 'ANO': 2004}

In [15]:
data.iloc[5, 0]

5

In [54]:
type(data.iloc[5, 0])

numpy.int64

In [19]:
data.iloc[[1, 2, 3, 4, 5]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,...,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004

In [53]:
type(data.iloc[[1, 2, 3, 4, 5]])

pandas.core.frame.DataFrame

In [33]:
data.iloc[[1, 2, 3, 4, 5]].to_dict()

{'Unnamed: 0': {1: 1, 2: 2, 3: 3, 4: 4, 5: 5},
 'DATA INICIAL': {1: '2004-05-09',
  2: '2004-05-09',
  3: '2004-05-09',
  4: '2004-05-09',
  5: '2004-05-09'},
 'DATA FINAL': {1: '2004-05-15',
  2: '2004-05-15',
  3: '2004-05-15',
  4: '2004-05-15',
  5: '2004-05-15'},
 'REGIÃO': {1: 'CENTRO OESTE',
  2: 'CENTRO OESTE',
  3: 'CENTRO OESTE',
  4: 'NORDESTE',
  5: 'NORDESTE'},
 'ESTADO': {1: 'GOIAS',
  2: 'MATO GROSSO',
  3: 'MATO GROSSO DO SUL',
  4: 'ALAGOAS',
  5: 'BAHIA'},
 'PRODUTO': {1: 'ETANOL HIDRATADO',
  2: 'ETANOL HIDRATADO',
  3: 'ETANOL HIDRATADO',
  4: 'ETANOL HIDRATADO',
  5: 'ETANOL HIDRATADO'},
 'NÚMERO DE POSTOS PESQUISADOS': {1: 387, 2: 192, 3: 162, 4: 103, 5: 408},
 'UNIDADE DE MEDIDA': {1: 'R$/l', 2: 'R$/l', 3: 'R$/l', 4: 'R$/l', 5: 'R$/l'},
 'PREÇO MÉDIO REVENDA': {1: 1.162, 2: 1.389, 3: 1.262, 4: 1.181, 5: 1.383},
 'DESVIO PADRÃO REVENDA': {1: 0.114,
  2: 0.0969999999999999,
  3: 0.07,
  4: 0.078,
  5: 0.132},
 'PREÇO MÍNIMO REVENDA': {1: 0.89, 2: 1.18, 3: 1.09, 4: 1.05, 5: 0.999},
 'PREÇO MÁXIMO REVENDA': {1: 1.449, 2: 1.76, 3: 1.509, 4: 1.4, 5: 2.05},
 'MARGEM MÉDIA REVENDA': {1: '0.399',
  2: '0.419',
  3: '0.432',
  4: '0.24',
  5: '0.426'},
 'COEF DE VARIAÇÃO REVENDA': {1: 0.098, 2: 0.07, 3: 0.055, 4: 0.066, 5: 0.095},
 'PREÇO MÉDIO DISTRIBUIÇÃO': {1: '0.763',
  2: '0.97',
  3: '0.83',
  4: '0.941',
  5: '0.957'},
 'DESVIO PADRÃO DISTRIBUIÇÃO': {1: '0.088',
  2: '0.095',
  3: '0.119',
  4: '0.077',
  5: '0.128'},
 'PREÇO MÍNIMO DISTRIBUIÇÃO': {1: '0.5013',
  2: '0.5614',
  3: '0.5991',
  4: '0.7441',
  5: '0.5686'},
 'PREÇO MÁXIMO DISTRIBUIÇÃO': {1: '1.05',
  2: '1.161',
  3: '1.22242',
  4: '1.0317',
  5: '1.35'},
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO': {1: '0.115',
  2: '0.098',
  3: '0.143',
  4: '0.082',
  5: '0.134'},
 'MÊS': {1: 5, 2: 5, 3: 5, 4: 5, 5: 5},
 'ANO': {1: 2004, 2: 2004, 3: 2004, 4: 2004, 5: 2004}}

In [25]:
data.iloc[[1, 2, 3, 4, 5], 4]

1                 GOIAS
2           MATO GROSSO
3    MATO GROSSO DO SUL
4               ALAGOAS
5                 BAHIA
Name: ESTADO, dtype: object

In [38]:
data.iloc[[1, 2, 3, 4, 5], 4].to_list()

['GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL', 'ALAGOAS', 'BAHIA']

In [51]:
type(data.iloc[1, [3, 4, 5]])

pandas.core.series.Series

In [26]:
data.iloc[1, [3, 4, 5]]

REGIÃO         CENTRO OESTE
ESTADO                GOIAS
PRODUTO    ETANOL HIDRATADO
Name: 1, dtype: object

In [40]:
data.iloc[1, [3, 4, 5]].to_list()

['CENTRO OESTE', 'GOIAS', 'ETANOL HIDRATADO']

In [41]:
data.iloc[1, [3, 4, 5]].to_dict()

{'REGIÃO': 'CENTRO OESTE', 'ESTADO': 'GOIAS', 'PRODUTO': 'ETANOL HIDRATADO'}

In [46]:
data.iloc[0].to_dict()

{'Unnamed: 0': 0,
 'DATA INICIAL': '2004-05-09',
 'DATA FINAL': '2004-05-15',
 'REGIÃO': 'CENTRO OESTE',
 'ESTADO': 'DISTRITO FEDERAL',
 'PRODUTO': 'ETANOL HIDRATADO',
 'NÚMERO DE POSTOS PESQUISADOS': 127,
 'UNIDADE DE MEDIDA': 'R$/l',
 'PREÇO MÉDIO REVENDA': 1.288,
 'DESVIO PADRÃO REVENDA': 0.016,
 'PREÇO MÍNIMO REVENDA': 1.19,
 'PREÇO MÁXIMO REVENDA': 1.35,
 'MARGEM MÉDIA REVENDA': '0.463',
 'COEF DE VARIAÇÃO REVENDA': 0.012,
 'PREÇO MÉDIO DISTRIBUIÇÃO': '0.825',
 'DESVIO PADRÃO DISTRIBUIÇÃO': '0.11',
 'PREÇO MÍNIMO DISTRIBUIÇÃO': '0.4201',
 'PREÇO MÁXIMO DISTRIBUIÇÃO': '0.9666',
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO': '0.133',
 'MÊS': 5,
 'ANO': 2004}

In [49]:
type(data.iloc[0])

pandas.core.series.Series

In [45]:
data.iloc[[0]].to_dict()

{'Unnamed: 0': {0: 0},
 'DATA INICIAL': {0: '2004-05-09'},
 'DATA FINAL': {0: '2004-05-15'},
 'REGIÃO': {0: 'CENTRO OESTE'},
 'ESTADO': {0: 'DISTRITO FEDERAL'},
 'PRODUTO': {0: 'ETANOL HIDRATADO'},
 'NÚMERO DE POSTOS PESQUISADOS': {0: 127},
 'UNIDADE DE MEDIDA': {0: 'R$/l'},
 'PREÇO MÉDIO REVENDA': {0: 1.288},
 'DESVIO PADRÃO REVENDA': {0: 0.016},
 'PREÇO MÍNIMO REVENDA': {0: 1.19},
 'PREÇO MÁXIMO REVENDA': {0: 1.35},
 'MARGEM MÉDIA REVENDA': {0: '0.463'},
 'COEF DE VARIAÇÃO REVENDA': {0: 0.012},
 'PREÇO MÉDIO DISTRIBUIÇÃO': {0: '0.825'},
 'DESVIO PADRÃO DISTRIBUIÇÃO': {0: '0.11'},
 'PREÇO MÍNIMO DISTRIBUIÇÃO': {0: '0.4201'},
 'PREÇO MÁXIMO DISTRIBUIÇÃO': {0: '0.9666'},
 'COEF DE VARIAÇÃO DISTRIBUIÇÃO': {0: '0.133'},
 'MÊS': {0: 5},
 'ANO': {0: 2004}}

In [50]:
type(data.iloc[[0]])

pandas.core.frame.DataFrame

In [60]:
data.iloc[[0, 1, 2], [4, 5, 6]]

             ESTADO           PRODUTO  NÚMERO DE POSTOS PESQUISADOS
0  DISTRITO FEDERAL  ETANOL HIDRATADO                           127
1             GOIAS  ETANOL HIDRATADO                           387
2       MATO GROSSO  ETANOL HIDRATADO                           192

In [59]:
type(data.iloc[[0, 1, 2], [4, 5, 6]])

pandas.core.frame.DataFrame

In [63]:
data.iloc[0, 1]

'2004-05-09'

In [64]:
data.iloc[[0], [1]]

  DATA INICIAL
0   2004-05-09

In [65]:
data.iloc[[0, 1, 2], 4]

0    DISTRITO FEDERAL
1               GOIAS
2         MATO GROSSO
Name: ESTADO, dtype: object

In [66]:
data.iloc[[0, 1, 2], [4]]

             ESTADO
0  DISTRITO FEDERAL
1             GOIAS
2       MATO GROSSO

In [67]:
data.iloc[0, [4]]

ESTADO    DISTRITO FEDERAL
Name: 0, dtype: object

In [68]:
data.iloc[[0], [4]]

             ESTADO
0  DISTRITO FEDERAL

In [79]:
data.iloc[:5, 4]

0      DISTRITO FEDERAL
1                 GOIAS
2           MATO GROSSO
3    MATO GROSSO DO SUL
4               ALAGOAS
Name: ESTADO, dtype: object

In [78]:
data.iloc[5:10, 4]

5         BAHIA
6         CEARA
7      MARANHAO
8       PARAIBA
9    PERNAMBUCO
Name: ESTADO, dtype: object

In [81]:
data.iloc[5:10, [4, 5, 6]]

       ESTADO           PRODUTO  NÚMERO DE POSTOS PESQUISADOS
5       BAHIA  ETANOL HIDRATADO                           408
6       CEARA  ETANOL HIDRATADO                           278
7    MARANHAO  ETANOL HIDRATADO                           105
8     PARAIBA  ETANOL HIDRATADO                           125
9  PERNAMBUCO  ETANOL HIDRATADO                           423

In [82]:
data.iloc[5, [4, 5, 6]]

ESTADO                                     BAHIA
PRODUTO                         ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                 408
Name: 5, dtype: object

## loc (localização por rótulo)

In [69]:
data.head(1)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004

In [71]:
data.loc[0, 'PRODUTO']

'ETANOL HIDRATADO'

In [72]:
data.loc[0, 0]

KeyError: 0

In [73]:
data.loc[[0, 1, 2, 3], 'PRODUTO']

0    ETANOL HIDRATADO
1    ETANOL HIDRATADO
2    ETANOL HIDRATADO
3    ETANOL HIDRATADO
Name: PRODUTO, dtype: object

In [75]:
data.loc[[0, 1, 2, 3], ['PRODUTO', 'ESTADO']]

            PRODUTO              ESTADO
0  ETANOL HIDRATADO    DISTRITO FEDERAL
1  ETANOL HIDRATADO               GOIAS
2  ETANOL HIDRATADO         MATO GROSSO
3  ETANOL HIDRATADO  MATO GROSSO DO SUL

In [84]:
data.loc[:, ['PRODUTO', 'ESTADO']]

                 PRODUTO               ESTADO
0       ETANOL HIDRATADO     DISTRITO FEDERAL
1       ETANOL HIDRATADO                GOIAS
2       ETANOL HIDRATADO          MATO GROSSO
3       ETANOL HIDRATADO   MATO GROSSO DO SUL
4       ETANOL HIDRATADO              ALAGOAS
...                  ...                  ...
106818               GNV  RIO GRANDE DO NORTE
106819               GNV    RIO GRANDE DO SUL
106820               GNV       SANTA CATARINA
106821               GNV            SAO PAULO
106822               GNV              SERGIPE

[106823 rows x 2 columns]

In [86]:
data.loc[[0, 1, 2, 3, 4],'ESTADO']

0      DISTRITO FEDERAL
1                 GOIAS
2           MATO GROSSO
3    MATO GROSSO DO SUL
4               ALAGOAS
Name: ESTADO, dtype: object